$white: #FFFFFF;
$highlight: #EE7964;
$dark: #2C3135;
$light: #EDEFF5;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: $white;
}

.wrapper_wide {
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_skinny {
  width: 60%;
  margin: 0 auto;
}

.responsive_break {
  white-space: nowrap;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}


.button {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none;
  border: none;
}

.button_block {
  display: block;
  margin: 0 auto;
}

.button_highlight {
  background: $highlight;
  transition: background .4s ease-in-out;
  &:hover {
   background: darken($highlight, 7.5%);
  }
}

.button_white {
  background: $white;
  color: $dark;
  transition: background .4s ease-in-out;
  &:hover {
   background: darken($white, 7.5%);
  }
}

@import 'welcome';
@import 'normalize';
// @import 'global';
// @import 'front-page';
// @import 'podcasts';
// @import 'dashboard';
